In [1]:
import pandas as pd
import datetime as dt


pd.set_option('display.max_columns', None)                 
pd.set_option('display.max_rows', None)                     
pd.set_option('display.float_format', lambda x: '%.3f' % x) 
pd.set_option('display.width',1000)

In [2]:
df_ = pd.read_csv("/kaggle/input/dataset/flo_data_20k.csv")
df = df_.copy()
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]

In [3]:
#ilk 10 gözlem

df.head(10)

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       Desktop            Offline       2018-11-18      2021-03-13             2018-11-18              2021-03-13                        1.000                         2.000                            150.870                            49.990                           [KADIN]
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f   Android App        Android App       2020-03-04      2020-10-18             2020-10-18              2020-03-04                        3.000                         1.000                             59.990                           315.940                       [AKTIFSPOR]
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f        Mobile            Offline       2020-05-15      2020-08-12             2020-05-15              2020-08-12                        1.000                         1.000                             49.990                           113.640                           [COCUK]
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f   Android App        Android App       2020-01-23      2021-03-07             2021-03-07              2020-01-25                        3.000                         2.000                            120.480                           934.210             [ERKEK, COCUK, KADIN]
9  1143f032-440d-11ea-8b43-000d3a38a36f        Mobile             Mobile       2019-07-30      2020-10-04             2020-10-04              2019-07-30                        1.000                         1.000                             69.980                            95.980                [KADIN, AKTIFSPOR]

In [4]:
#Değişken İsimleri

df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [5]:
#Betimsel istatistik

df.describe().T

                                      count    mean     std    min     25%     50%     75%       max
order_num_total_ever_online       19945.000   3.111   4.226  1.000   1.000   2.000   4.000   200.000
order_num_total_ever_offline      19945.000   1.914   2.063  1.000   1.000   1.000   2.000   109.000
customer_value_total_ever_offline 19945.000 253.923 301.533 10.000  99.990 179.980 319.970 18119.140
customer_value_total_ever_online  19945.000 497.322 832.602 12.990 149.980 286.460 578.440 45220.130

In [6]:
# Boş değer:

df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [7]:
# Değişken tipleri incelemesi:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [8]:
#Adım3: Omnichannel müşterilerin hem online'dan hem de offline platformlardan alışveriş yaptığını ifade etmektedir.
#Herbir müşterinin toplam alışveriş sayısı ve harcaması için yeni değişkenler oluşturalım.
# Her bir müşterinin toplam alışveriş sayısı

df["total_order_num"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]

# Her bir müşterinin toplam harcaması

df["total_customer_value"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df["total_customer_value"].head()

0    939.370
1   2013.550
2    585.320
3    121.970
4    209.980
Name: total_customer_value, dtype: float64

In [9]:
#*****Adım4: Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.

df.info()

date_columns = df.columns[df.columns.str.contains("date")]

df[date_columns] = df[date_columns].apply(pd.to_datetime)

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_order_num                    19945 non-null  float64
 13  total_customer_value               19945 non-null  float64
dtypes: float64(6), object(8)
memory usage: 2.1+ MB

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  total_order_num  total_customer_value
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                        4.000                         1.000                            139.990                           799.380                           [KADIN]            5.000               939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                       19.000                         2.000                            159.970                          1853.580  [ERKEK, COCUK, KADIN, AKTIFSPOR]           21.000              2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                        3.000                         2.000                            189.970                           395.350                    [ERKEK, KADIN]            5.000               585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                        1.000                         1.000                             39.990                            81.980               [AKTIFCOCUK, COCUK]            2.000               121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                        1.000                         1.000                             49.990                           159.990                       [AKTIFSPOR]            2.000               209.980

In [10]:
##Adım5:  Alışveriş kanallarındaki müşteri sayısının, toplam alınan ürün sayısının
# ve toplam harcamaların dağılımına bakınız.


df.groupby("order_channel").agg({"master_id":"count",
                                 "total_order_num":"sum",
                                 "total_customer_value":"sum"})

               master_id  total_order_num  total_customer_value
order_channel
Android App         9495        52269.000           7819062.760
Desktop             2735        10920.000           1610321.460
Ios App             2833        15351.000           2525999.930
Mobile              4882        21679.000           3028183.160

In [11]:
#Adım 6:En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.

df["total_customer_value"].sort_values(ascending=False).head(10)

11150   45905.100
4315    36818.290
7613    33918.100
13880   31227.410
9055    20706.340
7330    18443.570
8068    16918.570
163     12726.100
7223    12282.240
18767   12103.150
Name: total_customer_value, dtype: float64

In [12]:
#Adım7: En fazla siparişi veren ilk 10 müşteriyi sıralayınız.

df["total_order_num"].sort_values(ascending=False).head(10)
#df.sort_values("total_order_num", ascending=False)[:10]

11150   202.000
7223    131.000
8783    111.000
2619     88.000
6322     83.000
7613     82.000
9347     77.000
10954    75.000
8068     70.000
7330     70.000
Name: total_order_num, dtype: float64

In [13]:
#Adım 8: Veri ön hazırlık sürecini fonksiyonlaştırınız.

def data_prep(dataframe):
    dataframe["total_order_num"] = dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["total_customer_value"] = dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)
    return dataframe
#df = data_prep(df)
#df.head()

In [14]:
#####################################################
#### GÖREV 2: RFM Metriklerinin Hesaplanması

#Adım 1: Recency,Frequency ve Monetary tanımlarını yapınız.

df["last_order_date"].max() #Timestamp('2021-05-30 00:00:00')
                            # (2021, 06, 1 )

today_date= dt.datetime(2021, 6, 1 )
type(today_date)

datetime.datetime

In [15]:
rfm = pd.DataFrame()
rfm['customer_id'] = df['master_id']
rfm["recency"] = ( today_date - df["last_order_date"]).astype('timedelta64[s]')
rfm['frequency'] = df["total_order_num"]
rfm['monetary'] = df["total_customer_value"]
rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95 days      5.000   939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105 days     21.000  2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f 186 days      5.000   585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f 135 days      2.000   121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86 days      2.000   209.980

In [16]:
#####################################################
#### GÖREV 3:RF Skorunun Hesaplanması
# Recency, Frequency ve Monetary metriklerini qcut yardımı ile 1-5 arasında skorlara çevriniz.
# Bu skorları recency_score, frequency_score ve monetary_score olarak kaydediniz.

rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
rfm.head(10)

rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])

rfm.head()

# recency_score ve frequency_score’u tek bir değişken olarak ifade ediniz ve RF_SCORE olarak kaydediniz.


rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str))
rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95 days      5.000   939.370             3               4              4       34
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105 days     21.000  2013.550             3               5              5       35
2  69b69676-1a40-11ea-941b-000d3a38a36f 186 days      5.000   585.320             2               4              3       24
3  1854e56c-491f-11eb-806e-000d3a38a36f 135 days      2.000   121.970             3               1              1       31
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86 days      2.000   209.980             3               1              1       31

In [17]:
#####################################################
#### GÖREV 4:RF Skorlarının Segment Olarak Tanımlanması

seg_map = {r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'}

rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)
rfm.head(10)

##rfm[rfm['RF_SCORE'] == "11"]hibernating
##rfm[rfm['RF_SCORE'] == "35"]loyal_customers

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE              segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95 days      5.000   939.370             3               4              4       34      loyal_customers
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105 days     21.000  2013.550             3               5              5       35      loyal_customers
2  69b69676-1a40-11ea-941b-000d3a38a36f 186 days      5.000   585.320             2               4              3       24              at_Risk
3  1854e56c-491f-11eb-806e-000d3a38a36f 135 days      2.000   121.970             3               1              1       31       about_to_sleep
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86 days      2.000   209.980             3               1              1       31       about_to_sleep
5  e585280e-aae1-11e9-a2fc-000d3a38a36f  80 days      3.000   200.860             4               2              1       42  potential_loyalists
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f 226 days      4.000   375.930             2               3              2       23              at_Risk
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f 293 days      2.000   163.630             1               1              1       11          hibernating
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f  86 days      5.000  1054.690             3               4              5       34      loyal_customers
9  1143f032-440d-11ea-8b43-000d3a38a36f 240 days      2.000   165.960             1               1              1       11          hibernating

In [18]:
#####################################################
#### GÖREV 5: 

# Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.

rfm[["segment", "recency", "frequency", "monetary"]].groupby("segment").agg(["mean", "count"])

                              recency       frequency       monetary
                                 mean count      mean count     mean count
segment
about_to_sleep      113 days 18:50:36  1629     2.401  1629  359.009  1629
at_Risk             241 days 14:33:50  3131     4.472  3131  646.610  3131
cant_loose          235 days 10:39:36  1200    10.698  1200 1474.468  1200
champions            17 days 02:33:32  1932     8.934  1932 1406.625  1932
hibernating         247 days 22:47:16  3604     2.394  3604  366.267  3604
loyal_customers      82 days 14:16:27  3361     8.375  3361 1216.819  3361
need_attention      113 days 19:53:17   823     3.728   823  562.143   823
new_customers        17 days 22:01:24   680     2.000   680  339.956   680
potential_loyalists  37 days 03:44:28  2938     3.304  2938  533.184  2938
promising            58 days 22:06:29   647     2.000   647  335.673   647

In [19]:
#RFM analizi yardımıyla aşağıda verilen 2 case için ilgili profildeki müşterileri bulun ve müşteri id'lerini csv olarak kaydediniz.

#FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. 
#Dahil ettiği markanın ürün fiyatları genel müşteri tercihlerinin üstünde. 
#Bu nedenle markanın tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak iletişime geçeilmek isteniliyor.
#Bu müşterilerin sadık ve kadın kategorisinden alışveriş yapan kişiler olması planlandı.
#Müşterilerin id numaralarını csv dosyasına yeni_marka_hedef_müşteri_id.cvs olarak kaydedelim.

target_segments_customer_ids = rfm[rfm["segment"].isin(["champions","loyal_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & (df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
cust_ids.to_csv("yeni_marka_hedef_müşteri_id.csv", index=False)
cust_ids.shape

(2497,)

In [20]:
#Erkek ve Çoçuk ürünlerinde %40'a yakın indirim planlanmaktadır. 
#Bu indirimle ilgili kategorilerle ilgilenen geçmişte iyi müşterilerden olan ama uzun süredir alışveriş yapmayan 
#ve yeni gelen müşteriler özel olarak hedef alınmak isteniliyor. 
#Uygun profildeki müşterilerin id'lerini csv dosyasına indirim_hedef_müşteri_ids.csv olarak kaydedelim.

target_segments_customer_ids = rfm[rfm["segment"].isin(["cant_loose","hibernating","new_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & ((df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]
cust_ids.to_csv("indirim_hedef_müşteri_ids.csv", index=False)